body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.orange-heighlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    max-width: 100%;
}
.top-banner{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-btn{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, lightSalmon,tomato);
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 95%;
    background-color: white;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    font-size: 12px;
    text-align: center;
    color: black;
}
@media screen and (max-width:768px){
    .half-width{
       float: none;
       width: 100%;
       width: 90%;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 50px;
    }
    h1{
        text-align: center;
    }
    .experience-area h2,.experience-area h3{
        text-align: center;
    }
    section{
        height: auto;
        padding-bottom: 100px;
    }
    section::after{
        content: "";
        display: table;
        clear: both;
    }
}